body {
  font-family: "DM Sans", sans-serif;
  padding: 20px;
}

a {
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo {
  width: 200px;
}

.header_h1 {
  font-size: 36px;
  color: #901C1C;
  font-weight: 100;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  max-height: 350px;
  width: 25%;
  padding: 15px;
}

.card_link {
  display: -ms-inline-grid;
  display: inline-grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #D3573C;
  font-weight: 100;
}

.card_txt div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 5px;
}

.card_loc {
  color: #901C1C;
}

.card_tagline {
  font-size: 0.8rem;
}

.card_price {
  font-size: 0.8rem;
  color: #757575;
}

.body-page {
  margin-left: 50px;
  margin-right: 50px;
}

#header-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  background-color: #F2F2F2;
  padding: 35px;
  margin-bottom: 35px;
}

#header-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33.3%;
}

#header-page-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 33.3%;
}

.btn-page {
  margin-left: 15px;
  background-color: #901C1C;
  color: #FFF;
  font-size: 13px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

#name {
  color: #D3573C;
  font-weight: 100;
}

#city {
  color: #901C1C;
}

#tagline {
  color: #757575;
}

#header-page_img {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.page-content_filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

#page-loc {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#select-page {
  margin-left: 15px;
  background-color: #901C1C;
  color: #FFF;
  font-size: 13px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

#page-content-photo {
  max-width: 1300px;
  width: 100%;
  height: auto;
  margin: 30px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 300px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 50px;
}

.page-card {
  width: 300px;
  height: auto;
}

.page-card_img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 300px;
  height: 350px;
  border-radius: 5px;
}

.page-card_like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.page-card_like * {
  color: #901C1C;
  margin: 0;
}

.page-card_counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.like_numbers {
  margin-right: 5px;
}

#bot-container {
  position: fixed;
  bottom: 0;
  right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 25px;
  background-color: #DB8876;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.botContainer_counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin-top: 0;
}

#total-like {
  margin-right: 5px;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(55, 55, 55, 0.8);
  z-index: 10;
}

.lightbox_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 95vh;
  -webkit-animation: lightbox-anim .5s;
          animation: lightbox-anim .5s;
}

@-webkit-keyframes lightbox-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes lightbox-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.lightbox_close {
  border: none;
  text-indent: -3000px;
  position: fixed;
  z-index: 12;
  top: 50px;
  right: 10%;
  width: 25px;
  height: 25px;
  background: url("/Sample Photos/close.svg") center center/100% 100% no-repeat transparent;
}

.lightbox_next,
.lightbox_prev {
  border: none;
  background: url("/Sample Photos/arrow.svg") center center/100% 100%;
  width: 30px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 10%;
  margin-top: -14px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 11;
  opacity: 1;
  text-indent: -3000px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.lightbox_next {
  left: auto;
  right: 10%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.lightbox_arrow:hover, .lightbox_close:hover {
  opacity: 0.5;
}

.lightbox_container img {
  width: 60vw;
  height: 60vh;
  background-repeat: no-repeat;
}

.lightbox_loader {
  width: 38px;
  height: 38px;
  background: url("/Sample Photos/loader.svg") center center no-repeat;
}
/*# sourceMappingURL=style.css.map */